/*LAYOUT*/

.centered {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 1em;*
    border: 5px solid green;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}
